<div class="container boxing rounded">
  <br>
  <h2 class="text-center"> C'est la page de l'évenement !</h2>
  <br>
  <%= render 'page_layout/img_info' %>
  <br>
  <%= render 'page_layout/description' %>
  <br>
  <hr>
  <div class="text-center">
    <%= render'page_layout/social_btn'%>
  </div>
  <br>
</div>
