<div class="container py-5 pt-lg-6 align-items-center position-relative zindex-100 boxing rounded">
  <div class="col">
    <div class="row align-items-center">
      <div class="col-lg-5 col-xl-6 text-center text-lg-left ">
        <div>
          <h2 class="mb-4">
            <span class="display-4 ">Waouh !</span>
            <span class="d-block">Mais c'est une <strong class="font-weight-light"> occasion révée !</strong></span>
          </h2>
          <p class="lead ">A unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.</p>
          <div class="mt-5">
            <a href="#sct-page-examples" class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon mr-sm-4 scroll-me">
              <span class="btn-inner--text text-white">Inscris-toi</span>
              <span class="btn-inner--icon text-white"><i class="fas fa-angle-right"></i></span>
            </a>
            <a href="#sct-features" class="btn btn-outline-white rounded-pill hover-translate-y-n3 btn-icon d-none d-xl-inline-block scroll-me">
              <span class="btn-inner--icon text-white"><i class="fas fa-file-alt"></i></span>
              <span class="btn-inner--text text-white">Plus d'info</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-xl-6">
        <img src="https://images.unsplash.com/photo-1496024840928-4c417adf211d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBhcnR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" class="img-fluid rounded" alt="Votre image">
      </div>
    </div>
  </div>
</div>
