
  <form class="p-4 p-md-5 border rounded-3 boxing">
    <h1 class="h3 mb-3 font-weight-normal text-center">PLACE HOLDER</h1>
    <button class="w-100 btn btn-lg btn-primary" type="submit">PLACE HOLDER</button>
    <hr class="my-4">
    <small class="text-muted">PLACE HOLDER</small>
  </form>
