  <form class="p-4 p-md-5 border rounded-3 boxing">
    <h1 class="h3 mb-3 font-weight-normal text-center">Change Password</h1>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confirm Password</label>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Change my Password</button>
    <hr class="my-4">
    <small class="text-muted">Be careful with your passwords</small>
  </form>
