<h1>Attendances#new</h1>
<p>Find me in app/views/attendances/new.html.erb</p>


<%= button_to "Régler la commande avec Stripe", checkout_create_path(total: @event.price), class: "btn btn-primary", data: { turbo: false } %>